body {
    color: rgb(230, 225, 225);
    background: rgb(61, 4, 4);
    margin: 0px;
}

header {
    border-bottom: solid 2px rgb(233, 71, 137);
    padding: 20px;
    font-size: 32px;
    color: rgb(233, 71, 137);


}

section{
    background: #7b2c3a;
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;

}

